@font-face {
    font-family: "clacon";
    src: url("../fonts/clacon.ttf");
}

/*Custom Scroll*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #532d8e;
  
}
::-webkit-scrollbar-thumb {
  background: #191313;
  
}
::-webkit-scrollbar-track-piece {
	background: #532d8e;
}

@media screen and (max-height: 450px) {
}

/*https://cssgradient.io/*/
.body {
	overflow-x: hidden;
	background: rgb(25,19,19);
	background: -moz-linear-gradient(90deg, rgba(25,19,19,1) 5%, rgba(46,27,70,1) 35%, rgba(83,45,142,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(25,19,19,1) 5%, rgba(46,27,70,1) 35%, rgba(83,45,142,1) 100%);
	background: linear-gradient(90deg, rgba(25,19,19,1) 5%, rgba(46,27,70,1) 35%, rgba(83,45,142,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#191313",endColorstr="#532d8e",GradientType=1);
}

.front {
	margin: 0;
	padding: 0;
	width: 100vw;
	position: absolute;
	font-family: 'clacon', monospace;
	font-size: 45px;
	color: #494949;

	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
	-o-user-select:none;
}

.profileImage {

}

#front-java-1 {
	position: absolute;
	left: 150px;
	top: 25px;
}
#front-java-2 {
	position: absolute;
	left: 175px;
	top: 60px;
}
#front-java-3 {
	position: absolute;
	left: 200px;
	top: 95px;
}
#front-java-5 {
	position: absolute;
	left: 200px;
	top: 195px;
}
#front-java-6 {
	position: absolute;
	left: 175px;
	top: 225px;
}
#front-java-7 {
	position: absolute;
	left: 150px;
	top: 255px;
}
#front-C-1 {
	position: absolute;
	left: 175px;
	top: 25px;
}
#front-C-2 {
	position: absolute;
	left: 175px;
	top: 60px;
}
#front-C-3 {
	position: absolute;
	left: 200px;
	top: 95px;
}
#front-C-5 {
	position: absolute;
	left: 200px;
	top: 195px;
}
#front-C-6 {
	position: absolute;
	left: 200px;
	top: 225px;
}
#front-C-7 {
	position: absolute;
	left: 175px;
	top: 255px;
}
#front-CC-1 {
	position: absolute;
	left: 175px;
	top: 25px;
}
#front-CC-2 {
	position: absolute;
	left: 175px;
	top: 60px;
}
#front-CC-3 {
	position: absolute;
	left: 200px;
	top: 95px;
}
#front-CC-5 {
	position: absolute;
	left: 200px;
	top: 195px;
}
#front-CC-6 {
	position: absolute;
	left: 200px;
	top: 225px;
}
#front-CC-7 {
	position: absolute;
	left: 175px;
	top: 255px;
}
#front-html-1 {
	position: absolute;
	left: 150px;
	top: 25px;
}
#front-html-2 {
	position: absolute;
	left: 175px;
	top: 60px;
}
#front-html-3 {
	position: absolute;
	left: 175px;
	top: 95px;
}
#front-html-5 {
	position: absolute;
	left: 175px;
	top: 195px;
}
#front-html-6 {
	position: absolute;
	left: 150px;
	top: 230px;
}
#front-html-7 {
	position: absolute;
	left: 175px;
	top: 255px;
}

#front-hello-world {
	position: absolute;
	left: 225px;
	top: 140px;
	font-size: 50px;
	color: #B4B4B4;
}
#front-hello-world:after {
	content: "";
	display: table;
	clear: both;
}
#front-hello-world > p {
	float: left;
}
#front-hello-world > p:hover {
	float: left;
	color: #532d8e;
}


/*Side Navigation Div*/
.side-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 60px;
	background-color: #191313;
	position: fixed;
	height: 100%;
}

#side-nav-list {
	margin: 0;
	padding: 0;
	position: relative;
	top: 30%;
}

#side-nav-list li {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	top: 0;
}

#side-nav-list li, #side-nav-list a {
	display: block;
	padding-top: 3px;
}
.active {
	filter: invert(20%) sepia(76%) saturate(14530%) hue-rotate(242deg) brightness(88%) contrast(99%);
}
.side-nav-a {
	position: relative;
	z-index: 1;
}
.side-nav-span {
	position: relative;
	padding-left: 7px;
}
.side-nav-svg {
	position: relative;
	z-index: -1;
}

/*https://codepen.io/sosuke/pen/Pjoqqp
.side-nav-span:hover {
	filter: invert(20%) sepia(17%) saturate(6130%) hue-rotate(243deg) brightness(45%) contrast(98%) blur(3px);;
}
*/

.side-nav-text {
	position: absolute;
	text-align: center;
	z-index: 1;
	top: 10px;
	font-family: 'clacon', monospace;
	font-size: 23px;
	color: white;
	opacity: 0;
}

#side-nav-home-text { left: 9px;}
#side-nav-about-text { left: 5px;}
#side-nav-skills-text { left: 3px;}
#side-nav-projects-text { left: -5px;}
#side-nav-contact-text { left: -2px;}

li a {
	color: #FFFFFF;
	text-decoration: none;
}
