@font-face {
    font-family: "clacon";
    src: url("../fonts/clacon.ttf");
}

@mixin rings($duration, $delay) {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    left: -8px;
    right: 0;
    bottom: 0;
    content: '';
    height: 100%;
    width: 100%;
    border: 8px solid rgba(0,0,0,0.2);
    border-radius: 100%;
    animation-name: ripple;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.65,0,.34,1);
    z-index: -1;
}
.body {
	background: rgb(25,19,19);
	background: -moz-linear-gradient(90deg, rgba(25,19,19,1) 5%, rgba(46,27,70,1) 35%, rgba(83,45,142,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(25,19,19,1) 5%, rgba(46,27,70,1) 35%, rgba(83,45,142,1) 100%);
	background: linear-gradient(90deg, rgba(25,19,19,1) 5%, rgba(46,27,70,1) 35%, rgba(83,45,142,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#191313",endColorstr="#532d8e",GradientType=1);
}

.front {
	margin: 0;
	padding: 0;
	width: 100vw;
	position: absolute;
	font-family: 'clacon', monospace;
	font-size: 35px;
	color: #494949;

	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
	-o-user-select:none;
}

#front-code-1 {
	position: absolute;
	left: 150px;
	top: 25px;
}
#front-code-2 {
	position: absolute;
	left: 175px;
	top: 60px;
}
#front-code-3 {
	position: absolute;
	left: 200px;
	top: 95px;
}
#front-code-4 {
	position: absolute;
	left: 225px;
	top: 125px;
	font-size: 50px;
	color: #B4B4B4;
}
#front-code-4:after {
	content: "";
	display: table;
	clear: both;
}
#front-code-4 > p {
	float: left;
}
#front-code-4 > p:hover {
	float: left;
	color: #494949;
	@include rings(3s, 0s);
}
#front-code-5 {
	position: absolute;
	left: 200px;
	top: 195px;
}
#front-code-6 {
	position: absolute;
	left: 175px;
	top: 225px;
}
#front-code-7 {
	position: absolute;
	left: 150px;
	top: 255px;
}

/*Side Navigation Div*/
.side-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 60px;
	background-color: #191313;
	position: absolute;
	height: 100%;
}

/*ul element in side-nav*/
.side-nav > ul {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 40%;
}

/*li elements in ul*/
.side-nav > ul > li {
	display: inline-block;
	color: #FFFFFF;
	padding: 8px 7px;
	text-decoration: none;
}

li a {
	color: #FFFFFF;
	text-decoration: none;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale3d(0.75,0.75,1);
  }
  
  to {
    opacity: 0;
    transform: scale3d(1.5,1.5,1);
  }
}