/* 
<-- Global Styling --->
*/
/* font */
@font-face {
    font-family: "clacon";
    src: url("../fonts/clacon.ttf");
}

/*custom scroll bar*/
::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {box-shadow: inset 0 0 5px #532d8e;}
::-webkit-scrollbar-thumb {background: #191313;}
::-webkit-scrollbar-track-piece {background: #1f1136;}


html {
  scroll-behavior: smooth;
}

#body {
	overflow-x: hidden;
	background: rgb(25,19,19);
}

.contentSeperator {
	text-align: center;
	color: #B4B4B4;
	font-family: 'clacon', monospace;
	font-size: 100px;
	text-shadow: 4px 4px black;
	left: 50%;
	padding-top: 20px;
	position: absolute;
}
.contentSeperator > span {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}	
.contentSeperator > span:after {
	position: absolute;
	left: 105%;
    content:"\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
    height: 1px;
}
.contentSeperator > span:before {
	position: absolute;
	right: 110%;
    content:"\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
    height: 1px;
}

#about {top: 100vh;}
#skills {top: 200%;}
#projects {top: 300%;}
#contact {top: 400%;}
#fillerContent {
	top:500%;
	position: absolute;
}

/*
<-- Side Navigation -->
*/
/* div container*/
#side-nav {
	left: 0;
	position: fixed;
	height: 100%;
	z-index: 1;
}
/* side nav ul */
#side-nav-list {
	position: relative;
	top: 30%;
	padding: 0;
}
/* a elements in side nav (ul > li > a > (div + img)*/
.side-nav-a {
	display: block;
	position: relative;
	z-index: 1;
	padding-left: 7px;
	padding-top: 5px;
}

.side-nav-a > div + img {
	width: 80vw; 
	max-width: 80px;
	height: auto;
}


/* text elements in side nav which appear/disappear when hovered */
.side-nav-text {
	font-family: 'clacon', monospace;
	font-size: 35px;
	color: white;
	text-align: center;
	position: absolute;
	z-index: 1;
	opacity: 0;
}
/* absolute positioning values for various side nav texts */
#side-nav-home-text {left: 20px; top: 28px;}
#side-nav-about-text {left: 12px; top: 30px;}
#side-nav-skills-text {left: 7px; top: 30px;}
#side-nav-projects-text {left: -5px; top: 30px;}
#side-nav-contact-text {left: 0px; top: 20px;}


/*
<-- Home Section -->
*/
/* fading background code */
.home-background-code {
	font-family: 'clacon', monospace;
	font-size: 70px;
	color: #494949;
	width: 100%;
	position: absolute;

	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
	-o-user-select:none;
}

/* code element div containers */
.home-background-code > div {
	position: absolute; 
	left: 125px;
	top: 80px;
}
/* actual p elements of each code block*/
.home-background-code > div > p {
	padding: 0px;
	margin: 0px;
}

/* container class for fading code blocks*/
.home-code-container {opacity: 1; filter: blur(12px); top:5%;}

/* Hello World div container*/
#home-hello-world {
	position: absolute;
	left: 260px;
	top: 175px;
	font-size: 70px;
	color: #B4B4B4;
	opacity: 1;
	filter: blur(12px);
}

/* Hello World individual letters*/
#home-hello-world p {float: left;}
#home-hello-world p:hover {color: #592E59;}

/* container for my name */
#home-greetings-text {
	color: #B4B4B4;
	font-family: 'clacon', monospace;
	font-size: 70px;
	text-shadow: 4px 4px black;
	position: absolute;
	left: 195px;
	top: 65%;
	opacity: 0;
}
/* adding <p> decorational elements before and after*/
#home-greetings-text > p:before {content: "<p>";}
#home-greetings-text > p:after {content: "</p>";}

/* profile image container */
#home-profile-image {
	position: absolute;
	right: 15%;
	top: 10%;
	transform: rotate(10deg);
	width: 35%;
}
#home-profile-image:hover {filter: invert(20%) sepia(17%) saturate(6100%) hue-rotate(243deg) brightness(35%) contrast(100%) blur(0px);}

/*
<-- About Section -->
*/
/* about section container */
#about-div {
	position: absolute;
	left: 195px;
	top: 100%;
}
/* about paragraph container*/
#about-para-1 {
	color: #B4B4B4;
	font-family: 'clacon', monospace;
	font-size: 60px;
	text-shadow: 4px 4px black;
	position: absolute;
	top: 110%;
	left: 15%;
	width: 750px;
}

#about-poly-logo {
	position: absolute;
	top: 135%;
	right: 45%;
	border-width: 5px;
	border-color: white;
}

.poly-logo-parts {
	width: 140px;
	position: absolute;
	bottom:0;
	left: 185px;
}
#poly-logo-text {
	width: 609.5px;
	position: absolute;
}
#poly-logo-arm-2 {padding-left: 30px;}
#poly-logo-arm-3 {padding-left: 60px;}
#poly-logo-arm-4 {padding-left: 108px;}


/*
<-- Skills Section -->
*/
/* languages image table*/
#lang-table {
	position: absolute;
	top:210%;
	left: 18%;
}
/* utilities image table*/
#util-table {
	position: absolute;
	top:210%;
	right: 18%;
}
/* table headings */
th {
	color: #B4B4B4;
	font-family: 'clacon', monospace;
	font-size: 65px;
	text-shadow: 4px 4px black;
	text-align: right;
	padding-right: 25%;
	padding-bottom: 5%;
}
/* location where images spread from */
#skills-table-spew {
	opacity: 0;
	position: absolute;
	top: 240%;
	left: 45%;
}
/* text that appears when hovering over images*/
.skills-table-text {
	color: white;
	text-shadow: 4px 4px black;
	font-family: 'clacon', monospace;
	font-size: 55px;
	position: absolute;
	z-index: 1;
	opacity: 0;
}
/* images within table */
.skills-table-text + img {
	width: 20vw; 
	min-width: 150px;
	max-width: 250px;
	height: auto;
	padding-left: 25px;
}
/* absolute positions of text within table*/
#python-text {top:35%; left: 33%;}
#html-text {top:35%; left: 40%;}
#java-text {top:47%; left: 40%;}
#javascript-text {top:45%; left: 13%;}
#cc-text {top:39%; left: 46%;}
#c-text {top:39%; left: 52%;}

#git-text {top:35%; left: 43%;}
#visualstudio-text {top:28%; left: 15%;}
#bash-text {top:40%; left: 39%;}
#office-text {top:40%; left: 30%;}
#arduino-text {top:39%; left: 26%;}
#netbeans-text {top:39%; left: 23%;}

/* skills paragraph*/
#skills-paragraph p {
	position: absolute;
	top:275%;
	left: 26%;
	width: 50%;
	color: white;
	text-shadow: 4px 4px black;
	font-family: 'clacon', monospace;
	font-size: 50px;
}

/*
<-- Projects Section
*/
/* Container for up/down arrows */
#project-rotation {
	position: absolute;
	top:315%;
	left: 12%;
	width: 8%;
}

#project-down-arrow {padding-top: 400%;}
#project-down-arrow > a > img:hover, #project-up-arrow > a > img:hover {filter: blur(5px);}

/* container for project title cards */
.project-card-container {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.project-card-container > img {
	width: 155%;
}

/* project title card image container */
.project-title-card {
	position: absolute;
	top: 330%;
	left:6%;
	width: 50vw;
	height: 40vh;
	overflow: hidden;
	opacity: 0;
}

.project-info-para {
	color: white;
	text-shadow: 4px 4px black;
	font-family: 'clacon', monospace;
	font-size: 50px;

	position: absolute;
	top: 326%;
	right:3%;
	width: 50vw;
	height: 50%;
	overflow: hidden;
}

.project-info-container {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
	opacity: 0;
}

#contact-para {
	color: white;
	position: absolute;
	top: 333vh;
	text-shadow: 4px 4px black;
	font-family: 'clacon', monospace;
	font-size: 60px;
	text-align: center;
	position: absolute;
	top: 433vh;
	left:35%;
}

#contact-email {
	font-size: 70px;
}